#
#   #########################################################################
#
#   Application:    Basically Shenanigans Certificate Authority (“BSCA”) 
#   Module:         private/signing-generic.cnf
#
#   #########################################################################
#
#   Elevated Posture Incorporated
#   great.service@elevatedposture.ca
#
#   Licensed with Creative Commons Attribution-NonCommercial-ShareAlike
#   https://creativecommons.org/licenses/by-nc-nd/4.0/
#
#   #########################################################################
#

[ ca ]

default_ca = CA

[ CA ]

#  The directory structure for this CA
dir 					  = /opt/bsca
run 					  = $dir/run
certs 					= $dir/run
new_certs_dir 	= $dir/run/signed
database 				= $dir/run/database
serial					= $dir/run/serial
RANDFILE				= $dir/run/rand
private_key			= $dir/private/root-ca.prikey
crldir 					= $dir/public
crl						  = $dir/public/crl.pem
certificate			= $dir/public/root-ca.crt

name_opt    		= ca_default
cert_opt    		= ca_default
policy      		= simple_policy
x509_extensions = x509_ext
unique_subject  = no

# How long the CA certificate is valid for
default_days 		= 365

# The message digest for signing the certificate
default_md 			= sha256

# What to do with CSR extensions
copy_extensions = copy

[ simple_policy ]

countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = optional
domainComponent         = optional
emailAddress            = optional
name                    = optional
surname                 = optional
givenName               = optional
dnQualifier             = optional

[ x509_ext ]

# These extensions are for an end-entity certificate
# Extensions added when using the `openssl ca` command
# These will override any requested extensions in the CSR

subjectKeyIdentifier       = hash
authorityKeyIdentifier     = keyid:always
basicConstraints           = critical, CA:FALSE
